﻿img {
    width: 25%;
    height: 25%;
    margin: 10px;
    display: inline;
    cursor: pointer;
}

div.nbs-img-row {
    width: 100%;
    text-align: center;
    margin: 0px 0;
}

div#nbs-overlay {
    margin: auto;
    position: fixed;
    z-index: 1040;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

div#nbs-overlay-popup {
    display: table-cell;
    background-color: #fff;
    color: #000;
    position: absolute;
    width: 800px;
    height: 700px;
    top: calc(50% - (700px/2)); /* Przy zmianie wysokosci i szerokosci trzeba wpisac tutaj tez (50 - (wys/2))   */
    left: calc(50% - (800px / 2)); /* Przy zmianie wysokosci i szerokosci trzeba wpisac tutaj tez (50 - (szer/2))  */
    padding: 15px;
}

div#nbs-popup-description {
    width: 60%;
    height: 100%;
    background-color: #ddd;
    float: left;
    text-align: left;
    overflow: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    color: #333;
}

div#nbs-popup-cover {
    width: 40%;
    height: 60%;
    background-color: #777;
    float: right;
}

div#nbs-popup-trailer {
    width: 40%;
    height: 40%;
    background-color: #999;
    float: right;
}

em.nbs-movie-details {
    font-size: 14px;
}

.radius {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}