﻿body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:darkgray;
    background-color: #000;
    line-height: 1.42857143;
    margin: 0px;
    margin-top: 25px;
}

a{
    color:darkgray;
    background-color:black;
}
.nav > li > a:hover,
.nav > li > a:focus {
    color:darkgray;
    background-color:black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0;
    /*margin-left:0;
    margin-right:0;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
img {
    width: 25%;
    height: 25%;
    margin: 10px;
    display: inline;
}
.img2 {
    height: auto;
    float:none;
}
.img3{
    width:100%;
}
img.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;    
}

div.nbs-img-row {
    width: 100%;
    text-align: center;
    margin: 0px auto;
}div.nbs-sidebar {
    background-color: #000000;
    background-image: url("Images/sidebar.png");
    background-size: 100% auto;
    position: relative;
    height: 100%;
}

div#nbs-content-container {
    background-color: #000000;
    height: 100%;
    margin: 0px;
    padding: 0;
}

div#nbs-logo {
    background-image: url("Images/logo.png");
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: 100% 100%;
    height: 300px;
    width: 30%;
    float: left;
}

div#nbs-title-container {
    font-weight: bold;
    font-size: 40px;
    width:100%;
    float: left;
}

div#nbs-title {
    margin: 0px auto;
    text-align:center;
}

div#nbs-content {
    clear: both;
    width: 100%;
}

/* kod z: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}

@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

.navbar-menu
{
    background-color:cornflowerblue;
    color:black;
}
.navbar-logo
{
    background-color:black;
}
.navbar-relative{
    position: relative;
}

.container-navbar{
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.column-wide{
    width:100%;
    min-width:300px;
}

.navbar-color {
    background-color: black;
    float: left;
    height: 50px;
    padding: 15px 15px;
    margin-left: auto;
    text-align: center;
    
    background-size: cover;
}

.navbar-color2{
    background-color:deepskyblue;
    color:black !important;
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    margin-right:auto;
    text-align:center;
    /*width:100%;*/
}
.navbar-color3 {
    background-color:deepskyblue;
    color:black !important;
}
.navbar-color3:hover, 
.navbar-color3:focus {
    background-color:lightskyblue !important;
}

.center{
    margin-left:auto;
    margin-right:auto;
}
.navbar-collapse-center{
    text-align: center; 
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-nav-center {
    display: inline-block;
    float: none;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
}
.navbar-container{
    background-color:black;
}

.padding{
    padding: 5px;
    height: auto;
}