﻿.column1 {
   background: url("../Content/images/kadr.jpg") no-repeat;
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -o-background-size: 100% auto;
    background-size: 100% auto;
    height:195px;
}

.rzad {
}

.rzad2 {
   background: url('../Content/images/ekran.jpg') no-repeat;
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -o-background-size: 100% auto;
    background-size: 100% auto;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #000;
    margin: 0px;
}
.frame1 {
    background-image: url("/Content/Images/kadr1.png");
}

.frame2 {
    background-image: url("/Content/Images/kadr2.png");
}

.frame3 {
    background-image: url("/Content/Images/kadr3.png");
}

.frame4 {
    background-image: url("/Content/Images/kadr4.png");
}

.frame5 {
    background-image: url("/Content/Images/kadr5.png");
}

.frame6 {
    background-image: url("/Content/Images/kadr6.png");
}

a:link, a:visited {
    color: #000000;
    font-size: 19px;
    text-decoration: underline;
}

a:hover, a:active {
    color: #000090;
    text-decoration: underline;
}

div.nbs-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

div.nbs-nav-item {
    background-color: #707070;
    background-size: 100% 100%;
    line-height: 100px;
    text-align: center;
    position: relative;
    vertical-align: middle;
    height: 100px;
    white-space: nowrap;
}


div.nbs-content {
    height: 100%;
    background-color: #000000;
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: -4px;
}
img {
    margin: 0px auto;
}