﻿@model Kino.Models.Film

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Film</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tytul)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tytul)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataPremiery)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataPremiery)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Opis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opis)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinkYouTube)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinkYouTube)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LinkDoZdjecia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LinkDoZdjecia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WiekWidza)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WiekWidza)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Jezyk)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Jezyk)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dlugosc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dlugosc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gatunek)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gatunek)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OryginalnyTytul)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OryginalnyTytul)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rezyser)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rezyser)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Obsada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Obsada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Produkcja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Produkcja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RokProdukcji)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RokProdukcji)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
