﻿@model Kino.Models.Film

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Film</legend>

        @Html.HiddenFor(model => model.IdFilmu)

        <div class="editor-label">
            @Html.LabelFor(model => model.Tytul)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tytul)
            @Html.ValidationMessageFor(model => model.Tytul)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataPremiery)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataPremiery)
            @Html.ValidationMessageFor(model => model.DataPremiery)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Opis)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Opis)
            @Html.ValidationMessageFor(model => model.Opis)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkYouTube)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkYouTube)
            @Html.ValidationMessageFor(model => model.LinkYouTube)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkDoZdjecia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LinkDoZdjecia)
            @Html.ValidationMessageFor(model => model.LinkDoZdjecia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WiekWidza)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WiekWidza)
            @Html.ValidationMessageFor(model => model.WiekWidza)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Jezyk)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Jezyk)
            @Html.ValidationMessageFor(model => model.Jezyk)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dlugosc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dlugosc)
            @Html.ValidationMessageFor(model => model.Dlugosc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gatunek)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gatunek)
            @Html.ValidationMessageFor(model => model.Gatunek)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OryginalnyTytul)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OryginalnyTytul)
            @Html.ValidationMessageFor(model => model.OryginalnyTytul)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rezyser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rezyser)
            @Html.ValidationMessageFor(model => model.Rezyser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Obsada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Obsada)
            @Html.ValidationMessageFor(model => model.Obsada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Produkcja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Produkcja)
            @Html.ValidationMessageFor(model => model.Produkcja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RokProdukcji)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RokProdukcji)
            @Html.ValidationMessageFor(model => model.RokProdukcji)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
