﻿@model IEnumerable<Kino.Models.Film>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFilmu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPremiery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dlugosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gatunek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFilmu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPremiery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dlugosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gatunek)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFilmu }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFilmu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFilmu })
        </td>
    </tr>
}

</table>
