﻿@using Kino.Services;
@using Kino.Models;

@model IEnumerable<Kino.Models.Seans>

<link href="~/Content/CSS/Pages/repertuar.css" rel="stylesheet" />

@{
    ViewBag.Title = "Repertuar";
}

<h2>@ViewBag.Title</h2>
<div class="table-responsive">
    <table class="table tabela-repertuar">
        <tr class="empty" >
            <th class="empty" style="border-collapse:collapse"><br></th>
        </tr>
        @foreach (Film item in ((IQueryable<Film>)ViewBag.Filmy).ToList())
        {
            <tr class="tytul-tabeli" style="border-collapse:collapse">
                <td colspan="99">
                    @item.Tytul
                </td>
            </tr>
    <tr style ="border-collapse:collapse">
        @foreach (Seans seans in Model.Where(x => x.film.IdFilmu == item.IdFilmu).Distinct(new TimeComparer()).OrderBy(x => x.data.TimeOfDay))
        {
            <td class="komorka">
                @seans.data.ToShortTimeString()
            </td>
        }
    </tr>
            <tr class="empty">
                <td class ="empty"><br></td>
            </tr>
            <tr class="empty">
                <td class="empty"><br></td>
            </tr>
        }
        <tr></tr>
    </table>
</div>