﻿@model List<Kino.Models.Cennik>

@{
    ViewBag.Title = "Cennik";
}

<h1>Cennik biletów</h1>
<p></p>
<table class="table-bordered; text-center" align="center" , style="width:70%">
    <tr>
        <th style="border-collapse:collapse"></th>
        <th><h2><strong>BILETY 2D</strong></h2></th>
        <th></th>
        <th><h2><strong>BILETY 3D</strong></h2></th>
    </tr>
    <tr class="text-center">
        <th>
        </th>
        <td>
            <h3>Pn-Czw</h3>
        </td>
        <td>
            <h3>Pt-Nd, Święta</h3>
        </td>
        <td>
            <h3>Pn-Czw</h3>
        </td>
        <td>
            <h3>Pt-Nd, Święta</h3>
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                <h3><strong>@Html.DisplayFor(modelItem => item.RodzajBiletu)</strong></h3>
            </th>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.PnCzw2D) zł</h3>
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.PtNd2D) zł</h3>
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.PnCzw3D) zł</h3>
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.PtNd3D) zł</h3>
            </td>
        </tr>
    }
</table>
<p></p>
<div>(*) młodzież szkolna (za okazaniem ważnej legitymacji uczniowskiej)</div>
<div>(**) dzieci do lat 12 oraz osoby powyżej 60 roku życia</div>