﻿@using Kino.Services
@{
    ViewBag.Title = "Panel zarządzania";
}
<h2>Panel zarządzania</h2>

<ul class="">
    <li>@Html.ActionLink("Zarządzaj użytkownikami", "Index", "AspNetUsers", new { area = "" }, new { @class = "" })</li>
    @if (User.IsInRole(Role.Admin))
    {
        <li>@Html.ActionLink("Zarządzaj rolami", "Index", "AspNetRoles", new { area = "" }, new { @class = "" })</li>
        <li>@Html.ActionLink("Zarządzaj przypisaniami ról", "Index", "AspNetUserRoles", new { area = "" }, new { @class = "" })</li>
    }
</ul>