﻿@model Kino.Models.Kontakt

@{
    ViewBag.Title = "Index";
}

<h2>Kontakt</h2>
<div style="text-align:left">
    <table class="table">
        <tr>
            <th>
                Adres
            </th>
            <th>
                Email
            </th>
            <th>
                Nr Telefonu
            </th>
            <th>
                Fax
            </th>
            <th>
                Godziny otwarcia
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Adres)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.NrTelefonu)
            </td>
            <td>
                @Html.DisplayFor(model => model.Fax)
            </td>
            <td>
                @Html.DisplayFor(model => model.GodzinyOtwarcia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit")
            </td>
        </tr>
    </table>
</div>