﻿@model Kino.Models.Cennik
@{
    ViewBag.Title = "Edytuj";
}

<h2>Edytuj</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cennik</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.RodzajBiletu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RodzajBiletu)
            @Html.ValidationMessageFor(model => model.RodzajBiletu)
        </div>

        <div class="editor-label">
            Cena biletu @Html.LabelFor(model => model.PnCzw2D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PnCzw2D)
            @Html.ValidationMessageFor(model => model.PnCzw2D)
        </div>
        <div class="editor-label">
            Cena biletu @Html.LabelFor(model => model.PtNd2D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PtNd2D)
            @Html.ValidationMessageFor(model => model.PtNd2D)
        </div>
        <div class="editor-label">
            Cena biletu @Html.LabelFor(model => model.PnCzw3D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PnCzw3D)
            @Html.ValidationMessageFor(model => model.PnCzw3D)
        </div>
        <div class="editor-label">
            Cena biletu @Html.LabelFor(model => model.PtNd3D)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PtNd3D)
            @Html.ValidationMessageFor(model => model.PtNd3D)
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
