﻿@model IEnumerable<Kino.Models.Cennik>

@{
    ViewBag.Title = "Cennik";
}

<h2>Cennik</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RodzajBiletu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PnCzw2D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtNd2D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PnCzw3D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PtNd3D)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajBiletu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PnCzw2D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PtNd2D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PnCzw3D)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PtNd3D)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
