﻿
@{
    ViewBag.Title = "Unauthorized";
}


<hgroup>
    <h1 class="text-danger">Brak uprawnień.</h1>
    <h2 class="text-danger">Twoje konto nie posiada uprawnień do przeglądania tej strony.</h2>
</hgroup>


