﻿@model List<Kino.Models.Film>
@Styles.Render("~/Content/film-css")
@{
    ViewBag.Title = "Filmy";
}
<!-- ładowanie odpowiednich skryptów -->
<script type="text/javascript" language="JavaScript" src="~/Scripts/Pages/common.js"></script>
<script type="text/javascript" language="JavaScript" src="~/Scripts/Pages/filmy.js"></script>

<!-- proponuję pokolorować tego popup'a zmienić tło i treść żeby tak nie wyglądało -->
<div id="nbs-overlay" onclick="schowajPopup(event);">
    <div id="nbs-overlay-popup" class="radius">
        <div id="nbs-popup-description">
            <div style="width: 100%; text-align:center;padding: 10px;background-color: #eee;">
                <h4 id="nbs-movie-name" style="font-weight: bold;">NAZWA FILMU</h4>
            </div>
            <div style="padding: 10px;">
                <em class="nbs-movie-details"><strong>Data premiery:</strong>&nbsp;<span id="nbs-movie-premiere-date">xx-yy-zzzz</span></em><br />
                <em class="nbs-movie-details"><strong>Opis:</strong>&nbsp;<span id="nbs-movie-description">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span></em><br />
                <em class="nbs-movie-details"><strong>Wiek widza:</strong>&nbsp;<span id="nbs-movie-spectator-age">nn</span></em><br />
                <em class="nbs-movie-details"><strong>Język:</strong>&nbsp;<span id="nbs-movie-language">PL</span></em><br />
                <em class="nbs-movie-details"><strong>Długość:</strong>&nbsp;<span id="nbs-movie-length">nnn min</span></em><br />
                <em class="nbs-movie-details"><strong>Oryginalny tytuł:</strong>&nbsp;<span id="nbs-movie-original-title">Lorem ipsum</span></em><br />
                <em class="nbs-movie-details"><strong>Reżyser:</strong>&nbsp;<span id="nbs-movie-director">Loorem Ipsuum</span></em><br />
                <em class="nbs-movie-details"><strong>Obsada:</strong>&nbsp;<span id="nbs-movie-casting">Lorem Ipsum, Muspi Merol, Lopsum Irem, Meri Muspol</span></em><br />
                <em class="nbs-movie-details"><strong>Produkcja:</strong>&nbsp;<span id="nbs-movie-production">Lorem Ipsum</span></em><br />
                <em class="nbs-movie-details"><strong>Rok produkcji:</strong>&nbsp;<span id="nbs-movie-production-year">ABCD</span></em><br />
                <em class="nbs-movie-details"><strong>Gatunek:</strong>&nbsp;<br /><div id="nbs-movie-genre" style="height:230px;overflow:auto; text-align:center;"></div></em>
            </div>
        </div>
        <div id="nbs-popup-cover" style="background-size: 100% 100%;"></div>
        <div id="nbs-popup-trailer">
            <object id="nbs-trailer-player-config"
                    width="100%" height="100%"
                    classid="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
                    codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,0,02,902"
                    standby="Loading Microsoft® Windows® Media Player components..."
                    type="application/x-oleobject">
                <param name="FileName" id="nbs-trailer-player-config-filename" value="http://www.youtube.com/v/PJiYCwO2GnQ" />
                <param name="animationatStart" value="true" />
                <param name="transparentatStart" value="true" />
                <param name="autoStart" value="false" />
                <param name="showControls" value="true" />
                <param name="Volume" value="0" />
                <embed type="application/x-shockwave-flash"
                       pluginspage="http://www.microsoft.com/Windows/MediaPlayer/"
                       src="http://www.youtube.com/v/PJiYCwO2GnQ"
                       name="nbs-trailer-player"
                       width="100%" height="100%" allowfullscreen="true" 
                       autostart="false">
                </embed>
            </object>
        </div>
    </div>
</div>

<div class="row row-lg-height row-md-height row-sm-height row-xs-height">
    <div class="col-lg-12 col-md-8 col-sm-8 col-xs-8 col-lg-height col-md-height col-sm-height col-xs-height" id="nbs-content-container">
        <div id="nbs-title-container">
            <div id="nbs-title">
                Filmy
            </div>
        </div>
        <div id="nbs-content">
            <div class="row nbs-img-row">
                @foreach (var item in Model)
                {
                    <img id="@item.IdFilmu" onclick="pokazFilm(event);" class="col-lg-3 col-md-3 col-sm-5 col-xs-12 img2 nbs-movie-cover radius" src="@item.LinkDoZdjecia" />
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $jQ(document).ready(function () {
        var options = {};
        options.url = "/Film/PobierzFilmy";
        options.dataType = "json";
        options.type = 'POST';
        options.contentType = "application/json";
        options.success = function (filmyRes) {
            filmy = filmyRes;
        };

        options.error = function () { alert("Blad przy pobieraniu danych"); };
        $jQ.ajax(options);

        var photos = document.getElementsByClassName("nbs-movie-cover");
        $jQ('.nbs-movie-cover').hide();
        var i = 0;
        (timer = function () {
            if (i >= photos.length)
                return;
            var photoElementID = photos[i].getAttribute('id');
            new Effect.Appear(photoElementID, { duration: 2.5 });

            if (i < photos.length) {
                setTimeout(function () {
                    timer();
                }, 400);
                i++;
            }
        })();
    });
    </script>