﻿@model Kino.Models.Sala

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sala</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Numer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numer)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pojemnosc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pojemnosc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Niepelnosprawni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Niepelnosprawni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IloscRzedow)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IloscRzedow)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Numer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
