﻿@model IEnumerable<Kino.Models.Sala>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pojemnosc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niepelnosprawni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IloscRzedow)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pojemnosc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niepelnosprawni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IloscRzedow)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Numer }) |
            @Html.ActionLink("Details", "Details", new { id=item.Numer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Numer })
        </td>
    </tr>
}

</table>
