﻿@model IEnumerable<Kino.Models.AspNetUserRoles>

@{
    ViewBag.Title = "Role użytkowników";
}

<h2>Role użytkowników</h2>

<p>
    @Html.ActionLink("Stwórz nową", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th>
            Nazwa roli
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetRoles.Name)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "Details", new { id=item.UserId }) |
                @Html.ActionLink("Usuń", "Delete", new { id=item.UserId})
            </td>
        </tr>
    }

</table>
