﻿@model Kino.Models.Rezerwacja

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Rezerwacje</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IloscBiletow)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IloscBiletow)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdRezerwacji }) |
    @Html.ActionLink("Back to List", "Index")
</p>
