﻿@model IEnumerable<Kino.Models.Rezerwacja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRezerwacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seans.IdSeansu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IloscBiletow)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdRezerwacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seans.IdSeansu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IloscBiletow)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRezerwacji }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRezerwacji }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRezerwacji })
        </td>
    </tr>
}

</table>
