﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blue Screen Cinema</title>
    <!-- stary kod (przenoszę jQuery niżej) -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--@Scripts.Render("~/bundles/jquery")-->
    <!-- koniec starego kodu -->
    <!-- uwaga, jQuery od teraz trzeba będzie używać za pomocą innego znaku, doklejam tutaj kod-->
    <!-- tutaj dodam własne bundlesy do inclued'owania skryptów i stylów CSS -->
    <!-- oraz skrypt definiujący dla wszystkich podstron inną instancję jQuery (wolałbym skrypt zostawić tutaj, ale niech będzie w Scripts) -->
    <!-- nowy kod -->
    @Scripts.Render("~/bundles/prototype")
    <!--@Scripts.Render("~/bundles/jquery")-->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
    <!--<script type="text/javascript" language="JavaScript" src="~/Scripts/jquery-1.10.2.min.js"></script>-->
    <!--<script type="text/javascript" language="JavaScript" src="~/Scripts/Base/prototype.js"></script>-->
    <!-- prefix jQuery: $jQ -->
    <script type="text/javascript" language="JavaScript" src="~/Scripts/Pages/shared.js"></script>
    <script type="text/javascript" language="JavaScript" src="~/Scripts/Plugins/script.aculo.us/scriptaculous.js?load=effects,dragdrop"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <!-- koniec nowego kodu -->

    <meta name="description" content="" />
</head>
<body>
    @using Kino.Services;
    <div class="container-fluid">
        <div class="row-fluid row-lg-height row-md-height row-sm-height row-xs-height nbs-img-row">
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 nbs-sidebar col-lg-height col-md-height col-sm-height col-xs-height"></div>
            <div class="col-lg-10 col-md-8 col-sm-8 col-xs-8 column-wide">
                <div class="navbar navbar-inverse navbar-fixed-top navbar-relative ">
                    <div class="container container-navbar navbar-collapse-center navbar-container">
                        <div class="navbar-header navbar-nav-center">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="@Url.Action("Index", "Home")">
                                <img src="~/Content/images/long logo.png" class="img2 img3" />
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-nav-center">
                                <li>@Html.ActionLink("Strona Główna", "Index", "Home", new { area = "" }, new { @class = " navbar-color3" })</li>
                                <li>@Html.ActionLink("O nas", "About", "Home", new { area = "" }, new { @class = "navbar-color3" })</li>
                                <li>@Html.ActionLink("Film", "Index", "Film", new { area = "" }, new { @class = "navbar-color3" })</li>
                                <li>@Html.ActionLink("Repertuar", "Index", "Seans", new { area = "" }, new { @class = "navbar-color3" })</li>
                                <li>@Html.ActionLink("Cennik", "Index", "Cennik", new { area = "" }, new { @class = "navbar-color3" })</li>
                                <li>@Html.ActionLink("Rezerwacja", "Index", "Rezerwacja", new { area = "" }, new { @class = "navbar-color3" })</li>
                                <li>@Html.ActionLink("Projekty", "Index", "Projekts", new { area = "" }, new { @class = "navbar-color3" })</li>
                                <li>@Html.ActionLink("Kontakt", "Index", "Kontakt", new { area = "" }, new { @class = "navbar-color3" })</li>
                                @if (User.IsInRole(Role.Admin | Role.Menadzer))
                                {
                                    <li>@Html.ActionLink("Panel", "Index", "Panel", new { area = "" }, new { @class = "navbar-color3" })</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container body-content">
                    @RenderBody()
                </div>
                <hr />
                <footer>
                    <div>
                        <p>&copy; @DateTime.Now.Year - Informatyka, sem. V, gr. 1B</p>
                        @if (User.IsInRole(Role.Admin | Role.Menadzer | Role.Planista | Role.Kasjer))
                        {
                            <div>
                                Widok:
                                @Html.ActionLink("Pracownik", "PrzelaczTryb", ViewContext.Controller.ControllerContext.RouteData.Values["controller"].ToString(),
                                    new { pracownik = true }, null)
                                @Html.Raw(" | ")
                                @Html.ActionLink("Klient", "PrzelaczTryb", ViewContext.Controller.ControllerContext.RouteData.Values["controller"].ToString(),
                                    new { pracownik = false }, null)
                            </div>

                        }
                        @Html.Partial("_LoginPartial")
                    </div>
                </footer>

            </div>
                       <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 nbs-sidebar col-lg-height col-md-height col-sm-height col-xs-height"></div>
                
            </div>

            <!-- stary kod -->
            <!--@*
            @Scripts.Render("~/bundles/bootstrap")
            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)*@-->
            <!-- koniec -->
            <!-- nowy kod -->
            @RenderSection("scripts", required: false)
            <!-- koniec -->
        </div>
    </body>
</html>
