﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- tutaj dodaje skrypty -->
    @Styles.Render("~/Content/main-css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/prototype")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" language="JavaScript" src="~/Scripts/Pages/shared.js"></script>
    <script type="text/javascript" language="JavaScript" src="~/Scripts/Plugins/script.aculo.us/scriptaculous.js?load=effects,dragdrop"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <meta name="description" content="Strona kina wykonana w MVC" />
</head>
<body>
    @RenderBody()

    <!-- komentarzuje obydwa skrypty -->
    <!--@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")-->
    @RenderSection("scripts", required: false)
</body>
</html>
