﻿@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<link rel="stylesheet" type="text/css" href="~/Content/CSS/Pages/onas.css" />

@if (ViewBag.RejestracjaOtwarta)
{
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
}
<div class="container">
    <div class="row">
<p class="col-md-12">
    <div class="col-md-10 opis">
        Blue Screen Cinema działa na polskim rynku kinowym od 1999 roku. Od tego czasu spółka otworzyła w kraju 31 kin.<br />
        Kina Blue Screen Cinema charakteryzują się wyjątkowo klimatycznymi a zarazem komfortowymi i nowoczesnymi wnętrzami <br />
        oraz najwyższym poziomem jakości obsługi klienta. W naszych kinach odnajdziecie Państwo różnorodny repertuar filmowy,<br />
        najwyższej klasy systemy dźwiękowe, najwygodniejsze fotele kinowe, najnowocześniejszą dostępną technologię projekcji filmów <br />
        i – jak twierdzą smakosze – najlepszy popcorn w mieście.
    </div>
    <img class="col-xs-10 col-sm-3 col-lg-3 obrazy" src="~/Content/images/korytarz.jpg" />
    <img class="col-xs-10 col-sm-3 col-lg-3 obrazy" src="~/Content/images/logo.png" />
    <img class="col-xs-10 col-sm-3 col-lg-3 obrazy" src="~/Content/images/sala.jpg" />
</p>
        </div>
    </div>
