﻿@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@model List<Kino.Models.Aktualnosci>
<div class="container-fluid">
    <div class="row" id="nbs-row-0">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 nbs-nav-item frame1"><a href="@Url.Action("Index", "Film")"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;Film</a></div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 nbs-nav-item frame2"><a href="@Url.Action("Index", "Seans")"><span class="glyphicon glyphicon-film"></span>&nbsp;Repertuar</a></div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 nbs-nav-item frame3"><a href="@Url.Action("Index", "Rezerwacja")"><span class="glyphicon glyphicon-edit" id="change_span"></span>&nbsp;Rezerwacja</a></div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 nbs-nav-item frame4"><a href="@Url.Action("Index", "Cennik")"><span class="glyphicon glyphicon-usd"></span>&nbsp;Cennik</a></div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 nbs-nav-item frame5"><a href="@Url.Action("Index", "Projekts")"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Projekty</a></div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 nbs-nav-item frame6"><a href="@Url.Action("Index", "Kontakt")"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Kontakt</a></div>
    </div>
    <div class="row" id="nbs-row-1">
        <!--empty row--><div style="height: 30px;"></div>
    </div>
    <div class="row-fluid row-centered" style="text-align: center;" id="nbs-row-2">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-centered nbs-content">
            <div id="image-carousel" class="carousel slide img-responsive" data-ride="carousel" data-interval="5000">
                <!-- paginacja -->
                <ol class="carousel-indicators">
                    <li data-target="#image-carousel" data-slide-to="0" class="active"></li>
                    @{
                        int i;
                        for (i = 1; i < ViewBag.Model.Count - 1; i++)
                        {
                            <li data-target="#image-carousel" data-slide-to="@i"></li>
                        }
                        <li data-target="#image-carousel" data-slide-to="0"></li>
                    }
                </ol>

                <!-- slajdy -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="@ViewBag.Model[0].link"><img src="@ViewBag.Model[0].sciezkaDoPliku" /></a>
                    </div>
                    @for (i = 1; i < ViewBag.Model.Count; i++)
                    {
                        <div class="item">
                            <a href="@ViewBag.Model[i].link"><img src="@ViewBag.Model[i].sciezkaDoPliku" /></a>
                        </div>
                    }
                </div>

                <!-- strzalki karuzeli -->
                <a class="left carousel-control" href="#image-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#image-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

    <div class="row">
        <!--empty row--><div style="height: 30px;" id="nbs-row-4"></div>
    </div>
    <div class="row row-fluid pull-down" style="margin-bottom:0px;bottom:0px;" id="nbs-row-3">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nbs-nav-item frame6"></div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 nbs-nav-item frame5"></div>
        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2 nbs-nav-item frame4"></div>
        <div class="hidden-xs hidden-sm col-md-3 col-lg-2 nbs-nav-item frame3"></div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-2 nbs-nav-item frame2"></div>
        <div class="hidden-xs hidden-sm hidden-md col-lg-2 nbs-nav-item frame1"><a href="@Url.Action("Login","Account")"><span class="glyphicon glyphicon-user"></span>&nbsp;Zaloguj się</a></div>
    </div>
</div>
<script type="text/javascript">
    var menuTabs = document.getElementsByClassName("nbs-menu-link");
    function clickEvent(e) {
        if (e.target.parentNode.getAttribute('id') == null)
            return;
        new Effect.SwitchOff(e.target.parentNode.getAttribute('id'));
        setTimeout(function () {
            window.location.href = window.setLocation;
        }, 700);
    }
    window.onunload = function () {
        //$jQ('.nbs-nav-item').show();
    }
    var spaceHeightRatioA = (50 - 30) / (923 - 792);
    var spaceHeightRatioB = 50 - (spaceHeightRatioA * 923);

    var tabHeightRatioA = (150 - 100) / (923 - 792);
    var tabHeightRatioB = 150 - (tabHeightRatioA * 923);

    $jQ(document).ready(function () {
        for (var i = 0; i < menuTabs.length; i++) {
            var menuTab = menuTabs[i];
            menuTab.addEventListener("click", clickEvent);
        }
        var tabRowsTotalHeight = $jQ('#nbs-row-0').height() + $jQ('#nbs-row-3').height();
        var viewPortHeight = window.innerHeight - tabRowsTotalHeight-20; 
        var carouselHeight = $jQ('#nbs-row-2').height(); 
        var spaceHeight = Math.round((viewPortHeight - carouselHeight) / 2); 
        $jQ('#nbs-row-1').css('height', spaceHeight + 'px'); 
        $jQ('#nbs-row-4').css('height', spaceHeight + 'px'); 
        //var currentHeight = $jQ(document).height();
        //var spaceHeight = Math.round(currentHeight * tabHeightRatioA + tabHeightRatioB)+100;
    });
</script>