﻿@model IEnumerable<Kino.Models.Seans>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSeansu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.film.IdFilmu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sala.Numer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSeansu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.film.IdFilmu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sala.Numer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSeansu }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSeansu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSeansu })
        </td>
    </tr>
}

</table>
