﻿#map_canvas img {
    max-width: none;
}

.infoDiv {
    height: 150px;
    width: 200px;
    -webkit-user-select: none;
    background-color: white;
}
.adres{
    font-size:20px;
    font-family:Georgia;
    width: 100%;
     text-align:center;
     padding: 10px;
}
.mapa{
    height: 400px;
     width:75%;
     margin:0 auto;
}