﻿.tresc{
    font-size: 18px;
    font-family: Georgia;
}

.tytul{
    font-size: 30px;
    color: deepskyblue;
    font-family: Georgia;
}

.tekst{
    font-size: 18px;
    font-family: Georgia;
}

.obrazek{
    width:auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.img4{
    width:60%;
}