﻿body {
}

.tabela-repertuar{
    width: 750px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border-spacing:500px 500px;
    color:darkcyan;
    font-size:25px;
}

.tytul-tabeli{
    border: 1px solid;
    color: white;
    border-top:groove;
    border-top-width:10px;
    border-top-color:deepskyblue;
    border-left-color:deepskyblue;
    border-left-width:6px;
    border-right-width: 6px;
    border-right-color:deepskyblue;
    border-bottom:none;
}

.komorka{
    width: 100px;
    font-size:large;
    color:white;
    border-top:none !important;
}

.empty{
    border-top:none !important;
}
