﻿/* nagłowek dla kalendarza i filmów */
#nbs-rezerwacja-title-container {
    height: 30px;
    background-image: url("/Content/images/titlebar.png");
    font-size: 15px;
    line-height: 30px;
    border: 1px solid #fff;
    border-bottom: none;
}

#nbs-calendar-title {
    float: left;
    width: 20%;
}

#nbs-movies-title {
    float: right;
    width: 80%;
}

/* kalendarz z filmami obok */
#nbs-calendar {
    background-color: #000;
    float: left;
    width: 20%;
    border-left: 1px solid #fff;
}

#nbs-movies {
    padding: 20px;
    float: right;
    background-color: #000;
    position: relative;
    width: 80%;
    height: 100%;
    border-right: 1px solid #fff;
    overflow: auto;
}

#nbs-movies-container {
    height: 232px;
}

/* kontrolki */
#nbs-controls-container {
    clear: both;
    height: 50px;
    line-height: 50px;
    background-color: #444;
}

#nbs-controls-today-button {
    width: 20%;
    background-color: #000;
    height: 100%;
    float: left;
    border-left: 1px solid #fff;
    /*border-bottom: 1px solid #fff;*/
}

#nbs-controls-movies-buttons {
    width: 80%;
    float: right;
    background-color: #000;
    height: 100%;
    border-right: 1px solid #fff;
    /*border-bottom: 1px solid #fff;*/
    border-top: 1px solid #555;
}

input.nbs-button-dark {
    background-color: #000;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border: none;
}

img.nbs-movie-position {
    width: 100px;
    height: 140px;
}

.nbs-movie-available {
    border: 1px solid #090;
    cursor: pointer;
}

.nbs-movie-inaccessible {
    border: 1px solid #900;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
    cursor:not-allowed;
}

/* kolorowanie dni w których są filmy */
td.highlight-inaccessible {
    background-color: #f00;
    background-image: -moz-linear-gradient(center top , #900, #300);
    color: #fff;
}

td.highlight-available {
    background-color: #0f0;
    background-image: -moz-linear-gradient(center top , #090, #030);
    color: #fff;
}

td.highlight-today-inaccessible {
    background-color: #f00;
    background-image: -moz-linear-gradient(center top , #f00, #b00);
    color: #000;
}

td.highlight-today-available {
    background-color: #0f0;
    background-image: -moz-linear-gradient(center top , #0f0, #0b0);
    color: #000;
}

#nbs-seanse-info-container {
    width: 100%;
    background-color: #000;
    height: 300px;
    clear: both;
}

#nbs-seanse-booking {
    padding: 10px;
    height: 100%;
    float: left;
    width: 20%;
    background-color: #000;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#nbs-movie-info {
    height: 100%;
    float: right;
    width: 80%;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: left;
    color: #ddd;
    font-size: 15px;
    font-family: Calibri;
    padding: 5px;
}

#nbs-seanse-movie-info-title-container {
    height: 30px;
    background-image: url("/Content/images/titlebar.png");
    font-size: 15px;
    line-height: 30px;
    border: 1px solid #fff;
    border-bottom: none;
}

#nbs-seanses-title-container {
    float: left;
    width: 20%;
}

#nbs-movie-info-title-container {
    float: right;
    width: 80%;
}

span.nbs-movie-detail-info {
    font-style: italic;
    color: #eee;
}

div#nbs-position-booking {
    border: 1px solid #fff;
    border-top: none;
}

div#nbs-booking-summary {
    background-color: #000;
    color: #fff;
    text-align: left;
    border: 1px solid #fff;
    border-top: none;
    padding: 10px;
}

input[type="text"] {
    margin: 5px;
    color: #000;
}

span.nbs-required {
    color: #f00;
}

.nbs-radius {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}