﻿@model IEnumerable<Kino.Models.Projekt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresGrafiki)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresGrafiki)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjektId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjektId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjektId })
        </td>
    </tr>
}

</table>
