﻿@model IEnumerable<Kino.Models.Projekt>

@{
    ViewBag.Title = "Projekty";
}
@using Kino.Models;
<link rel="stylesheet" type="text/css" href="~/Content/CSS/Pages/projekt.css" />
<h3>Projekty</h3>
<br>
<p class="tresc">
    Nasze kino oferuje dla każdego z widzów specjalne projekty, <br>
    dzięki którym będzie mógł w pełni cieszyć się wrażeniami, <br>
    podczas ogladania filmów dobranych specjalnie do jego preferencji.<br>
</p>
<br>
@foreach (Projekt item in Model)
{
    <div class="projekt">
        <div class="tytul">
            @item.Nazwa
        </div>
        <div class="tekst">
            @item.Opis
        </div>
        <div class="obrazek">
            <img class="img4" src="@item.AdresGrafiki"/>
        </div>
        <br/>
        <br />
    </div>
}
