﻿@model IEnumerable<Kino.Models.Rezerwacja>

@{
    ViewBag.Title = "Rezerwacja";
}

<h2>Rezerwacja</h2>
<!-- ładowanie odpowiedniego skryptu i CSS -->
<script type="text/javascript" language="JavaScript" src="~/Scripts/Pages/common.js"></script>
<script type="text/javascript" language="JavaScript" src="~/Scripts/Pages/rezerwacja.js"></script>
<script type="text/javascript" language="JavaScript" src="~/Scripts/Plugins/jcanvas/jcanvas-min.js"></script>
<!--<script type="text/javascript" language="JavaScript" src="~/Scripts/Plugins/jcanvas/jcanvas-crescents.js"></script>
<script type="text/javascript" language="JavaScript" src="~/Scripts/Plugins/jcanvas/jcanvas-donuts.js"></script>
<script type="text/javascript" language="JavaScript" src="~/Scripts/Plugins/jcanvas/jcanvas-handles.js"></script>
<script type="text/javascript" language="JavaScript" src="~/Scripts/Plugins/jcanvas/jcanvas-hearts.js"></script>-->
<!--<script type="text/javascript" language="JavaScript" src="http://calebevans.me/projects/jcanvas/resources/jcanvas/jcanvas.js"></script>-->
<link rel="stylesheet" type="text/css" href="~/Content/CSS/Pages/rezerwacja.css" />
<!-- datepicker wymagany jest tylko tutaj więc tutaj importuję skrypt i CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/CSS/Scripts/datepicker-v1.css" />
<script type="text/javascript" language="JavaScript" src="~/Scripts/Plugins/bootstrap/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" language="JavaScript" charset="utf-8" src="~/Scripts/Plugins/bootstrap/datepicker/bootstrap-lang-pl.js"></script>
<!-- script.aculo.us -->
<br />
<div id="nbs-rezerwacja-title-container">
    <!-- mam konflikt z Site.css nbs-title-container -->
    <div id="nbs-calendar-title">Wybierz dzień</div>
    <div id="nbs-movies-title">Wybierz film</div>
</div>
<div id="nbs-movies-container">
    <div id="nbs-calendar"><div></div></div>
    <div id="nbs-movies"></div>
</div>
<div id="nbs-controls-container">
    <div id="nbs-controls-today-button"><input class="nbs-button-dark" type="button" onclick="$jQ('#nbs-calendar div').datepicker('setDate', new Date());" value="Ustaw dzisiejszą date" /></div>
    <div id="nbs-controls-movies-buttons"><span id="nbs-current-datetime"></span></div>
</div>
<div id="nbs-seanse-movie-info-title-container">
    <div id="nbs-seanses-title-container">Wybierz godziny seansu</div>
    <div id="nbs-movie-info-title-container">Dane zaznaczonego filmu</div>
</div>
<div id="nbs-seanse-info-container">
    <div id="nbs-seanse-booking">
        <select size="10" style="color: #000; width: 100%;margin-top: 5px;height: 100%;margin-left: -2px;" id="nbs-seanse-time-select" onclick="selectSeanseTime(this);">
            <option disabled> - Wybierz film - </option>
        </select>
    </div>
    <div id="nbs-movie-info">
        <div style="float: left; width: 75%;height: 100%;overflow: auto; color: #aaa;">
            Tytuł:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-title">- - -</span><br />
            Data premiery:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-premiere-date">- - -</span><br />
            Opis:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-description">- - -</span><br />
            Wiek widza:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-spectator-age">- - -</span><br />
            Język:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-language">- - -</span><br />
            Długość:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-length">- - -</span><br />
            Reżyser:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-director">- - -</span><br />
            Obsada:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-cast">- - -</span><br />
            Produkcja:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-production">- - -</span><br />
            Rok produkcji:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-production-year">- - -</span><br />
            Gatunek:&nbsp;<span class="nbs-movie-detail-info" id="nbs-movie-detail-genre">- - -</span>
        </div>
        <div style="float: right; width: 25%;height: 100%;" id="nbs-movie-detail-cover"></div>
    </div>
</div>
<div id="nbs-position-booking">
    <canvas width="1100" height="900" id="nbs-positions-canvas"></canvas>
</div>
<div id="nbs-booking-summary">
    <form action="javascript:void(0);" method="post" name="booking_seanse_tickets" onsubmit="return reserverTickets(this);">
        <span class="nbs-required">*</span>&nbsp;Imię:&nbsp;<input type="text" name="first_name" size="30" value="" /><br />
        <span class="nbs-required">*</span>&nbsp;Nazwisko:&nbsp;<input type="text" name="last_name" size="30" value="" /><br />
        <span class="nbs-required">*</span>&nbsp;Email:&nbsp;<input type="text" name="email" size="30" value="" /><br />
        <span class="nbs-required">*</span>&nbsp;Numer telefonu:&nbsp;<input type="text" name="phone_number" size="30" value="" /><br />
        Wybrany film:&nbsp;<span id="nbs-movie-title"></span><br />
        Wybramie numery miejsc:&nbsp;<span id="nbs-selected-positions-label"></span><br />
        <input type="submit" style="color: #000;" value="Rezerwuj bilety" />
    </form>
</div>
<script type="text/javascript" language="JavaScript">
    /* Ustawienia globalne */
    var roomConfig = {
        positionSize: [30, 30],
        offsetX: 70,
        topOffsetY: 90,
        bottomOffsetY: 200,
        canvasSize: [1000, 800]
    };

    var indexURL = "@Url.Action("Index", "Home")";
    
    // Klasa CSS dziejszego dnia
    var toggleToday = null;

    // Wzystkie seanse
    var screeningsData = [];

    // Seanse w okreslonych dniach
    var screeningsInDay = {};

    // Czy zaznaczono film
    var movieSelected = false;

    // Zarezerwowane miejsca użytkownika
    var positionsReserved = [];

    // Tytuł filmu
    var movieTitle = null;

    // Czy wybrano godziny seansu
    var selectedTime = false;

    // Wybrany seans
    var selectedSeanse = null;

    $jQ(document).ready(function () {
        var options = {};
        options.url = "/Seans/PobierzWszystkieSeanse";
        options.dataType = "json";
        options.contentType = "application/json";
        options.type = 'POST';
        options.success = function (screenings) {
            screeningsData = addSeanseEndTime(screenings);
            loadDatePicker();
            highlightTodayDate();
            initCanvas();
            drawBaseCanvas();
        };

        options.error = function () { alert("Blad przy pobieraniu danych"); };
        $jQ.ajax(options);
    });

    function loadDatePicker() {
        $jQ('#nbs-calendar div').datepicker({
            beforeShowDay: loadEventsCallback,
            format: "dd/mm/yyyy",
            language: "pl",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        }).on('changeDate', function (e) {
            movieSelected = false;
            updateScreenings();
            highlightTodayDate();
            loadMoviesInSelectedDay(e.date);
            clearMovieDetails();
            clearSeanseSelectTimes();
            drawBaseCanvas();
        });
    }

    // Timer (odświeża seanse na bieżąco ale
    // nie pobiera ich z bazy, pobieranie
    // można też zrobić (aktualizacje) ale co dłuższy czas niż 1 sekunda)
    // bo bez zensu jest co 400 milisekund pobierać z bazy dane
    // (a pobieranie jeszcze trwa) więc może przeglądarka się zwiesić
    (timer = function () {
        // Bieżąca data
        nowDate = new Date();

        // Aktualizuj zegar
        $jQ('#nbs-current-datetime').html('Dziś jest: <em>' + formatDate(nowDate) + ', ' + formatHMS(nowDate) + '</em>');

        // Aktualizuj zaznaczanie seansów w kalendarzu
        updateScreenings();

        // Zanzacz dziejszą datę
        highlightTodayDate();

        // Ustaw ponowne wywołoanie
        setTimeout(function () {
            timer();
        }, 400);
    })()
</script>