﻿@model Kino.Models.Kontakt

@{
    ViewBag.Title = "Kontakt";
}

<h2>@ViewBag.Title</h2>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="~/Content/CSS/Pages/kontakt.css" />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 adres">
            <div>
                <strong>Adres:</strong> @Html.DisplayFor(model => model.Adres)
            </div>
            <div>
                <strong>Email:</strong> @Html.DisplayFor(model => model.Email)
            </div>
            <div>
                <strong>Nr Telefonu:</strong> @Html.DisplayFor(model => model.NrTelefonu)
            </div>
            <div>
                <strong>Fax:</strong> @Html.DisplayFor(model => model.Fax)
            </div>
            <div>
                <strong>Godziny otwarcia:</strong> @Html.DisplayFor(model => model.GodzinyOtwarcia)
            </div>
            <br />
            <div><strong><h3>Jak dojechać</h3></strong></div>
        </div>

        <div id="map-outer" class="col-md-12 col-lg-12">
            <div id="map_canvas" class="mapa"></div>
        </div><!-- /map-outer -->
    </div> <!-- /row -->
</div>
<!-- This is the div that will contain the Google Map -->
<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    <section class="scripts">

        <script type="text/javascript">

            $jQ(document).ready(function () {
                Initialize();
            });

            // Where all the fun happens
            function Initialize() {

                // Google has tweaked their interface somewhat - this tells the api to use that new UI
                google.maps.visualRefresh = true;
                var bielsko = new google.maps.LatLng(49.784121, 19.058441);

                // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
                var mapOptions = {
                    zoom: 16,
                    center: bielsko,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                // This makes the div with id "map_canvas" a google map
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                // a sample list of JSON encoded data of places to visit in Liverpool, UK
                // you can either make up a JSON list server side, or call it from a controller using JSONResult
                var data = [
                          { "Id": 1, "PlaceName": "Kino Blue Screen", "Adres": "ul.Willowa 2", "GeoLong": "49.784121", "GeoLat": "19.058441" },
                ];

                // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
                $jQ.each(data, function (i, item) {
                    var marker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                        'map': map,
                        'title': item.PlaceName
                    });

                    // put in some information about each json object - in this case, the opening hours.
                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class='infoDiv'><h3>" + item.PlaceName + "</h3><h4>" + item.Adres + "</h4><h4>" + "</h4></div></div>"
                    });

                    // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });

                })
            }
        </script>
    </section>
}
